body {
	font-family: lucida Console;
	
}

a:link, a:visited, a:hover, a:active {
  color: lightgreen;
  text-decoration: none;
}

h1 {
	background-color: green;
	color: mintcream;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-color: mintcream;
	padding: 10px;
}	

